<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input label="Digite codigo do produto:" [(ngModel)] = "id"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="buscarPorID()">
    Buscar por codigo produto
  </ion-button>

  <ion-button expand="block" (click)="buscarProdutos()">
    Limpar
  </ion-button>

  <div *ngIf="produto">
    <h2 style="color: green">Resultado da Busca</h2>
    <ion-item>
      <ion-badge slot="start">{{produto.id}}</ion-badge>
      <ion-label>
        <h3>{{produto.nome}}</h3>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
